{% extends "base.html" %}
{% block body %}
    <header>
        {% if current_product is defined %}
            <h1>{{ current_product }}</h1>
        {% endif %}
        <nav>
            {% for product in products_required %}
                <a href="{{ url_for('products_table', category=product) }}">{{ product }}</a>
            {% endfor %}
        </nav>
    </header>
    <table>
        <thead>
            <tr>    
                {% for heading in headings %}
                    <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        
        <tbody>
        {% if rows|length %}
        {% else %}
            <tr><td> </td></tr>
            
        {% endif %} 
        {% for row in rows %}
        <tr>
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
                
        </tbody>
    </table>
    <div>
        <p>No product selected. Select a product from above</p>
        <!-- <h2>Welcome to Clothing Brand's inventory website</h2>
        <h3>Please keep the following points in mind when using this stocktake website:</h3>
        <ul>
            <li>Click on either of the products above to be taken to the inventory for that item</li>
            <li>This site is designed to function well with or without JavaScript enabled.</li>
            <li>It will refresh the page approximately every five minutes with the new inventory that has come in.</li>
        </ul> -->
    </div>
    
{% endblock %}