{% extends "base.html" %}

{%block head %}
    <meta http-equiv="refresh" content="{{ refresh_interval.seconds }}">
{% endblock %}
{% block body %}
    <div id="refresh-notification">
        <p class="hidden">
            Minutes remaining until inventory update: <span>{{ refresh_interval.minutes }}</span>
        </p>
    </div>
    <noscript>
        <div id="noscript">
            Your browser does not support JavaScript! 
            Therefore, this window will refresh every {{ refresh_interval.minutes }} minutes to an get updated inventory
        </div>
    </noscript>
    <header>
        {% if current_product is defined %}
            <h1>{{ current_product }}</h1>
        {% endif %}
        <nav>
            {% for product in products_required %}
                <a href="{{ url_for('products_table', category=product) }}">{{ product }}</a>
            {% endfor %}
        </nav>
    </header>   
    <table>
        <thead>
            <tr>    
                {% for heading in headings %}
                    <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>   
        <tbody>
            {% if rows|length %}
            {% else %}
                <tr><td></td></tr>
            {% endif %} 
            {% for row in rows %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}        
        </tbody>
    </table>
    <div>
        {{ message }}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}