:root {
    --main-bg:white;
    --heading-txt:white;
    --name-col-th-bg:rgb(67, 139, 95);
    --col-th-bg:rgb(94, 163, 121);
    --nav-colour:black;
    --table-row:rgb(209, 217, 224);
    --refresh-notification-normal:rgb(40, 40, 41);
    --refresh-notification-alert:rgb(240, 75, 75);  
}

html {
    background-color:var(--main-bg);
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 800px;
    margin: auto;
}

header {   
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    width:800px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top:6.5em;
    border-bottom: solid .25em var(--main-bg);
    text-transform: uppercase;
}

header h1 {

    color: var(--heading-txt);
    display: inline;  
    background-color: black;
    padding-top: 1em;
    padding-bottom:.75em;
    margin:0;
}



header nav {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--nav-colour);
}

header nav:first-child {
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
} 

header nav a {
    padding-top: 2.75em;
    color:var(--heading-txt);
    text-decoration: none;
    border-left: 3px solid var(--refresh-notification-normal);
}

header nav:first-child a {
    padding-top: 2em;
    padding-bottom:1.5em;
}

header nav a:hover {
    background-color:rgb(32, 32, 32);
    color:rgb(215, 215, 215);
    text-decoration: underline;
    text-underline-position: under; 
}

table {
    margin-top:-5em;
    min-width: 100% !important;
}

th {
    padding-top:9em;
    padding-bottom:1em;
    background-color: var(--name-col-th-bg);
    color:var(--heading-txt);
    position: sticky;
    top: 0; 
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.4);   
}

th:not(:first-child) {
    background-color: var(--col-th-bg);
    padding-left: 1em;
    padding-right: 1em;
}

tr:nth-child(1n) {
    background-color:var(--main-bg);
}

tr:nth-child(2n) {
    background-color: var(--table-row);
}

td {
    box-sizing: border-box;
    padding-left: 1em;
    padding: .5em 0 .5em 1em;
}

tbody tr:first-child td {
    padding-top: 5.75em;
}

tbody tr:last-child td {
    padding-bottom: 3.5em;
}

table + div {
    margin-top:-3em
}

footer {
    background-color:var(--main-bg);
    position:fixed;
    height:2em;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
    padding-top: 1em;    
}


footer a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}

.makeTransparent {
    opacity: 0;
    /* adding/removing class 'show' will fade on/off footer */
    transition: opacity .75s;
}

.show {
    opacity: 0.75;
}


#error-404 h1 {
    font-size: 6em;
    margin-bottom: .25em;
}

#error-404 p {
    margin-top:2.5em;
    margin-bottom: 2em;
}


#error-404 nav a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

#error-404 nav a:hover {
    background-color: rgb(196, 220, 228);
}

#error-404 nav a {
    /* margin-right: 1em; */
    padding-right: 1em;
    
    padding: .45em 2em .45em 2em;
    margin-left:-.3em;
    box-sizing: border-box;
}

#error-404 nav a:not(:last-child) {
    border-right:.15em solid var(--table-row);
}

.no-js {}

#refresh-notification {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:2;
    text-align: center;
    font-weight: bold;
    color: #fff;
    height: 2em;
    background-color:var(--refresh-notification-normal);
}



#refresh-notification p {
    margin: .5em 0 .5em 0 !important;
}

#noscript {
    background-color: var(--refresh-notification-alert);
    padding: .5em 0 .5em 0 !important;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.hidden {
    display: none;
}

