:root {
    --name-green:rgb(67, 139, 95);
    --th-green:rgb(94, 163, 121);
    --nav-colour:rgb(0, 0, 0);
    --hover-color:rgb(108, 214, 149);
}

html {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

body {
    width: 800px;
    margin: auto;
}



header {   
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    width:800px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top:6.5em;
    /* padding: 2em 1em 1.5em 1em; */
    /* background-color: var(--nav-colour); */
    border-bottom: solid .25em white;
    text-transform: uppercase;
    /* width: 100%; */
}

header h1 {

    color: white; 
    display: inline;  
    background-color: rgb(105, 184, 253);
    padding-top: 1em;
    padding-bottom:.75em;
    margin:0;
}



header nav {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--nav-colour);
    /* grid-template-columns: repeat(2, 1fr); */  
}

header nav:first-child {
    width: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
} 

header nav a {
    padding-top: 2.5em;
    color:white;
    text-decoration: none;
    border-left: 3px solid rgb(68, 68, 68);
}

header nav:first-child a {
    padding-top: 2em;
    padding-bottom:1.5em;
}

header nav a:hover {
    background-color:rgb(136, 136, 136);
    text-decoration: underline;
    text-underline-position: under; 
}

table {
    margin-top:-5em;
    min-width: 100% !important;
}



th {
    padding-top:9em;
    padding-bottom:1em;
    background-color: var(--name-green);
    color:white;
    position: sticky;
    top: 0; 
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.4);
    
}

th:not(:first-child) {
    background-color: var(--th-green);
    padding-left: 1em;
    padding-right: 1em;
}



tr:hover{
    color:white;
    background-color:var(--hover-color) !important;
    /* background-color: var(--hover-colour) !important; */
}


tr:nth-child(1n) {
    background-color: white;
}

tr:nth-child(2n) {
    background-color: rgb(209, 217, 224);
}

td {
    box-sizing: border-box;
    padding-left: 1em;
    padding: .5em 0 .5em 1em;
    /* border: .1em solid white; */

}

tbody tr:first-child td {
    padding-top: 5.75em;
}

#error-404 h1 {
    font-size: 6em;
    margin-bottom: .25em;
}

#error-404 p {
    margin-top:2.5em;
    margin-bottom: 2em;
}


#error-404 nav a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

#error-404 nav a:hover {
    background-color: rgb(196, 220, 228);
}

#error-404 nav a {
    /* margin-right: 1em; */
    padding-right: 1em;
    
    padding: .45em 2em .45em 2em;
    margin-left:-.3em;
    box-sizing: border-box;
}

#error-404 nav a:not(:last-child) {
    border-right:.15em solid rgb(226, 218, 218);
}

.no-js {}

#refresh-notification {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:2;
    text-align: center;
    font-weight: bold;
    color: #fff;
    height: 2em;
    background-color:rgb(40, 40, 41);
    /* max-height: fit-content; */
    /* padding: 5px 0; */
}

/* #refresh-notification p {
    background-color: rgb(86, 112, 199);
} */



#refresh-notification p {
    margin: .5em 0 .5em 0 !important;
}

#noscript {
    background-color: rgb(240, 75, 75);
    padding: .5em 0 .5em 0 !important;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.hidden {
    display: none;
}